.linguagem__img{
    width: 100%;
    max-width: 100px;
    transition: all 300ms ease;
}

.linguagens__titulo{
    color: #2f3b4e;
}

.texto--blue{
    color: #007481;
}

.linguagem:hover .linguagem__img{
    filter: brightness(80%);
    opacity: 0.86;
    transform: scale(0.9);
}

.linguagem{
    width: 25%;
    display: flex;
    justify-content: center;
    position: relative;
}

.linguagem__img--container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px 16px;
}

.lista__linguagens{
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
}

.language__name{
    position: absolute;
    bottom: 0;
    transform: scale(0);
    transition: all 400ms;
    font-size: 20px;
    opacity: 0;
    color: #171f2b;
}

.linguagem:hover .language__name{
    transform: scale(1);
    opacity: 1;
}
